body {
    background-color: rgb(255, 255, 255) !important ;
    max-width: 100%;
    overflow-x: hidden;
}

.nav {
    height: 100%; 
    width: 200px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    overflow-x: hidden;
    background-color: rgb(59, 59, 59) !important ;
    text-align: center;
}

.nav .nav-item{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
}

#buttons{
    margin-top: 250%;
}

.main {
    margin-left: 200px;
    width: 91%;
    padding-right: 40px;
}

.carosel{
    padding-bottom: 1%;
}

@media screen and (max-width: 768px) {
    .nav{
        width: 100%;
        height: auto;
        position: relative;
    }

    #nav{
        padding: 0;
    }

    .nav .nav-item {
        float: left;
    }

    .main {
        margin-left: 0;
        padding-right: 0;
    }

    #buttons {
        margin-top: 0px;
    }

}

@media screen and (max-width: 440px) {
    .nav .nav-item {
      text-align: center;
      float: none;
      width: 100%;
    }

    #buttons {
        margin-top: 0px;
        padding-left: 12%;
    }

}

